/* GENERAL */

:root {
  --col-white: #f8f8fd;
  --col-black: #03021c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  font-size: 1.1rem;
  line-height: 1.45;
  letter-spacing: 0.2px;
  font-style: normal;
  transition: 0.2s;
  scroll-behavior: smooth;
  background-color: var(--col-white);
  color: var(--col-black)
}

h1 {
  font-size: min(10vw, 3.5rem); 
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: min(6.5vw, 2.6rem); 
  font-weight: 700;
}

p {
  font-weight: 400;
}

header, footer, section {
  padding: 3rem max(calc((100vw - 1000px) / 2),1rem);
}

button {
  padding: .5rem 1rem;
  border: 2px solid var(--col-black);
  border-radius: 1rem;
}

.flex-c, .flex-r {
  display: flex;
  gap: 3rem;
}

.flex-c {
  flex-direction: column;
}

.flex-r {
  flex-direction: row;
}

/* HERO */
.hero-img {
  max-width: 100%;
  border-radius: 1rem;
  filter: grayscale(100%);
  object-fit: cover;
}