/* GENERAL */

:root {
  --col-five: #ffffff;
  --col-one: #03021c;
  --col-accent: #165fe8;
  --col-two: #f7f7ff;
  --col-four: #e7e7f1;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.15rem;
    line-height: 1.6;
    letter-spacing: 0.5px;
    font-style: normal;
    transition: 0.2s;
    scroll-behavior: smooth;
}
