/* GENERAL */

:root {
  --col-white: #f8f8fd;
  --col-lightgrey: #ececf1;
  --col-black: #101212;
  --col-accent1: #db442c;
  --col-accent2: #c1121f;
  --brd-radius: .5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  font-size: 1.2rem;
  line-height: 1.45;
  letter-spacing: 0.2px;
  font-style: normal;
  transition: 0.66s;
  scroll-behavior: smooth;
}

h1, h2, h3 {
  color: var(--col-accent1);
}

h1 {
  font-size: min(10vw, 3.5rem); 
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: min(6.5vw, 2.6rem); 
  font-weight: 700;
}

h3 {
  font-size: min(5vw, 2.1rem); 
  font-weight: 500;
}

i {
  font-size: 1.2rem;
}

p {
  font-weight: 400;
}

a {
  text-decoration: none;
}

.col-normal {
  background-color: var(--col-white);
  color: var(--col-black)
}

.col-fade {
  background-color: var(--col-lightgrey);
  columns: var(--col-black);
}

.col-invert {
  color: var(--col-white);
  background-color: var(--col-black);
}

header, footer, section {
  padding: 3rem max(calc((100vw - 1000px) / 2),1rem);
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap:1.2rem;
  font-size: 0.95rem;
  padding: .5rem 1rem;
  border: 2px solid var(--col-black);
  border-radius: var(--brd-radius);
}

button:hover, a>i:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.flex-c, .flex-r {
  display: flex;
}

.flex-c {
  flex-direction: column;
  gap: 1.5rem;
}

.flex-r {
  flex-direction: row;
  justify-content: space-between;
  gap: 3rem;
}

.flex-r.inline {
  flex-direction: row;
}

.justify-start {
  justify-content: flex-start;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.smaller {
  font-size: 80%;
}

.bigger {
  font-size: 300%;
}

/* HEADER */

.logo, .logo>a {
  font-style: italic;
  font-weight: 400;
  font-size: 1rem;
}

nav a {
  color: var(--col-black);
  text-decoration: none;
  margin-left: 2rem;
}

nav a:hover {
  color: var(--col-accent2);
  cursor: pointer;
}

.top-nav .icon {
  display: none;
}

/* HERO */
.hero-img {
  max-width: 100%;
  border-radius: var(--brd-radius);
  filter: grayscale(100%);
  object-fit: cover;
}

/* COUNTER */
.counter-bar {
  justify-content: space-evenly;
  padding: 2rem 0;
  border-radius: var(--brd-radius);
  gap: 1rem;
}

/* SERVICES */
.services-bar {
  margin-top: 2rem;
  padding: 2rem;
  border-radius: var(--brd-radius);
}

.services-bar p {
  font-size: 1rem;
}

/* DIALOGS */
.sec-info p {
  font-size: .85rem;
  margin-bottom: .75rem;
}

/* RESPONSIVITY */
@media only screen and (max-width: 40rem) {
  .flex-r {
    flex-direction: column;
  }
  
  .grid {
    grid-template-columns: 1fr;
  }

  .counter-bar {
    padding: 2rem;
  }
  
  .top-nav a {
    display: none;
  }

  .top-nav.responsive a {
    display: block;
    text-align: end;
    margin-bottom: 1rem;
  }

  .top-nav .icon {
    display: block;
  }

  footer {
    text-align: center;
  }
}